:root {
    /* barvy */
    --primary-lightest: var(--soft-linen);
    --primary-light: var(--pale-oak);
    --primary: var(--camel);
    --primary-dark: var(--olive-wood);
    --primary-darkest: var(--dark-khaki);
    --soft-linen: #F2EDE3;
    --pale-oak: #D8C8AC;
    --camel: #B2945B;
    --olive-wood: #7D663B;
    --dark-khaki: #453921;
    --cream: #eaf4b9;

    /* tloušťky paddingu a marginu */
    --padding-margin-thin: 0.5em;
    --padding-margin-medium: 1em;
    --padding-margin-thick: 1.5em;
    /* tloušťky čar */
    --border-thin: 0.05em;
    /* font */
    --default-font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* smallest-smaller-medium-larger-largest */
/* lightest-light-primary-dark-darkest */

/* stylovani prvku */
body {
    width: 80%;
    background-color: var(--primary-lightest);
    margin: auto;
    font-family: var(--default-font-family);
}

body,
input,
textarea {
    font-size: 20px;
    font-family: var(--default-font-family);
}

::selection {
    color: var(--primary-lightest);
    background-color: var(--primary-dark);
}

nav {
    width: 100%;
    background-color: var(--primary-light);
}

nav>ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

blockquote {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

table {
    table-layout: auto;
}

table,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.25em;
}

button {
    padding: 0, 1em;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

form input[type="checkbox"],
form input[type="radio"] {
    display: inline;
}

select {
    border-color: var(--primary-darkest);
    border-width: 0.05em;
    background-color: var(--primary-lightest);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: var(--default-font-family);
    font-size: 20px;
}

textarea {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: block;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

input {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

nav>ul>li>a {
    text-decoration: none;
    font-size: 24px;
    text-wrap: wrap;
    padding: 0.2em;
    color: var(--primary-darkest);
}

h1 {
    font-weight: lighter;
}

h2 {
    font-weight: lighter;
}

/* tridy */

.intro-text {
    flex-grow: 2;
}

#apollo {
    margin-top: 5%;
    min-width: 200px;
    width: 100%;
}

.banner {
    width: 100%;
}

.message {
    display: block;
}

#pawprint {
    width: 20%;
    height: 20%;
    transform: rotate(325deg);
}

#signature {
    width: 65%;
}

.icons {
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
}


#table-consultation {
    min-width: 200px;
        display: flex;
    flex-direction: row;
}

#consultation-reservation {
    min-width: 200px;
}

/* budouci framework */
input[type="checkbox"]:checked {
    background-color: var(--primary-light);
}

.form-item {
    display: block;
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.button {
    padding: 0.2em 0.5em;
}

.button-pill {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.button-sharp {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.button-primary-darkest {
    background-color: var(--primary-darkest);
    color: var(--primary-lightest);
}

.button-primary-dark {
    background-color: var(--primary-dark);
    color: var(--primary-lightest);
}

.button-primary-light {
    background-color: var(--primary-light);
    color: var(--primary-lightest);
}

/* buttony - animace */
.button:hover {
    box-shadow: 4px 4px #1c170d;
}

.button:active {
    box-shadow: none;
    top: 6px;
}


/* rohy */

.corners-rounded {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* margins */

.margin-none {
    margin: 0em
}

.margin-horizontal-none {
    margin-left: 0em;
    margin-right: 0em;
}

.margin-vertical-none {
    margin-top: 0em;
    margin-bottom: 0em;
}

.margin-top-none {
    margin-top: 0em;
}

.margin-bottom-none {
    margin-bottom: 0em;
}

.margin-thin {
    margin: var(--padding-margin-thin)
}

.margin-horizontal-thin {
    margin-left: var(--padding-margin-thin);
    margin-right: var(--padding-margin-thin);
}

.margin-right-thin {
    margin-right: var(--padding-margin-thin);
}

.margin-left-thin {
    margin-left: var(--padding-margin-thin);
}

.margin-top-thin {
    margin-top: var(--padding-margin-thin);
}

.margin-bottom-thin {
    margin-bottom: var(--padding-margin-thin);
}

.margin-vertical-thin {
    margin-top: var(--padding-margin-thin);
    margin-bottom: var(--padding-margin-thin);
}

.margin-medium {
    margin: var(--padding-margin-medium);
}

.padding-vertical-thin {
    padding-top: var(--padding-margin-thin);
    padding-bottom: var(--padding-margin-thin);
}

.padding-vertical-medium {
    padding-top: var(--padding-margin-medium);
    padding-bottom: var(--padding-margin-medium);
}

.padding-vertical-thick {
    padding-top: var(--padding-margin-thick);
    padding-bottom: var(--padding-margin-thick);
}

.padding-horizontal-thin {
    padding-left: var(--padding-margin-thin);
    padding-right: var(--padding-margin-thin);
}

.nav-sticky-top {
    position: sticky;
    top: 0;
    z-index: 10;
}

/* tabulka s prouzky */

.table-striped-primary tr:nth-child(even) {
    background-color: var(--primary-light);
}

/* okraje */

.border-primary-darkest {
    border-color: var(--primary-darkest);
}

.border-none {
    border-width: 0px;
}

.border-thin {
    border-width: var(--border-thin);
}

.border-bottom-thin {
    border-bottom-width: var(--border-thin);
}

.border-medium {
    border-width: 0.1em;
}

.border-thick {
    border-width: 0.15em;
}

/* sloupce  */
.columns-2 {
    column-count: 2;
}

.columns-3 {
    column-count: 3;
}

.columns-4 {
    column-count: 4;
}

/* animace */
.zoom-hover-small:hover {
    transform: scale(1.25, 1.25);
    transition-duration: 0.3s;
}

.zoom-hover-small:not(:hover) {
    transform: scale(1, 1);
    transition-duration: 0.3s;
}

.zoom-hover-medium:hover {
    transform: scale(1.5, 1.5);
    transition-duration: 0.3s;
}

.zoom-hover-medium:not(:hover) {
    transform: scale(1, 1);
    transition-duration: 0.3s;
}

.zoom-hover-large:hover {
    transform: scale(2, 2);
    transition-duration: 0.3s;
}

.zoom-hover-large:not(:hover) {
    transform: scale(1, 1);
    transition-duration: 0.3s;
}